<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= movie.title %></title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/detail.css" />
  </head>

  <body class="container">
    <header>
      <figure class="logo">
        <a href="/">
          <img src="/img/logo-DH.png" alt="Logo Digital House" />
        </a>
      </figure>
    </header>

    <main>
      <h1 class="heading"><%= movie.title %></h1>

      <section class="details">
        <br />
        <p><strong>RATING:</strong> <%= movie.rating %></p>
        <p><strong>AWARDS:</strong> <%= movie.awards %></p>
        <p><strong>LENGTH:</strong> <%= movie.length %> min</p>
        <p><strong>RELEASE DATE:</strong> <%= movie.release_date %></p>
        <p><strong>GENRE:</strong> <%= movie.genre.name %></p>

        <p><strong>ACTORS:</strong></p>
        <ul>
          <% movie.actors.forEach(actor => { %>
          <li><%= actor.first_name %> <%= actor.last_name %></li>
          <% }) %>
        </ul>
        <br>
        <div>
          <a href="/movies/edit/<%= movie.id %>" class="btn btn-secondary"
            >Edit</a
          >
          <a href="/movies" class="btn btn-secondary">Back</a>
          <a href="/movies/delete/<%= movie.id %>" class="btn btn-danger"
            >Delete</a
          >
        </div>
      </section>
    </main>
  </body>
</html>
