<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalles del Actor</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/detail.css" />
  </head>

  <body class="container">
    <figure class="logo">
      <a href="/">
        <img src="/img/logo-DH.png" alt="Logo Digital House" />
      </a>
    </figure>
    <h1 class="heading">Actor detail</h1>

    <% if (actor) { %>
    <div class="details">
      <h2><%= actor.first_name %> <%= actor.last_name %></h2>
      <p><strong>RATING:</strong> <%= actor.rating %></p>
      <p><strong>MOVIES: </strong></p>
      <ul>
        <% actor.movies.forEach(movie => { %>
          <li> - <%= movie.title %></li>
          <% }) %>
      </ul>

      <br />
      <div>
        <a href="/actors/edit/<%= actor.id %>" class="btn btn-secondary"
          >Edit</a
        >
        <a href="/actors" class="btn btn-secondary">Back</a>

        <form
          action="/actors/delete/<%= actor.id %>?_method=DELETE"
          method="POST"
        >
         <button class="btn btn-danger" type="submit">Delete</button>
        </form>
      </div>
    </div>
    <% } else { %>
    <br />
    <h2>Actor not found</h2>
    <br />
    <a class="btn btn-secondary" href="/actors">Back</a>
    <% } %>
  </body>
</html>
