<!-- EditActor.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actor edit</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/actors.css" />
</head>

<body class="container">
    <figure class="logo">
        <a href="/">
            <img src="/img/logo-DH.png" alt="Logo Digital House">
        </a>
    </figure>
    <h1 class="heading">Actor edit</h1>

    <form action="/actors/edit/<%= actor.id %>?_method=PUT" method="post">
        <label for="first_name">Firs name:</label>
        <input type="text" id="first_name" name="first_name" value="<%= actor.first_name %>" required>

        <label for="last_name">Last name:</label>
        <input type="text" id="last_name" name="last_name" value="<%= actor.last_name %>" required>

        <label for="rating">Rating:</label>
        <input type="text" id="rating" name="rating" value="<%= actor.rating %>" required>

        <div class="form-buttons">
            <button class="btn btn-primary" type="submit">Save</button>
            <a href="/actors/detail/<%= actor.id %>" class="btn btn-secondary">Back</a>
        </div>
    </form>
</body>

</html>
